
.Toolbar {
    height: 56px;
    width: 100%;
    position: absolute;
    top:0;       
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    box-sizing: border-box;
    z-index: 90;
    text-decoration: none;
    color: white;  
    max-width: 1500px;   
}

@media  (max-width: 450px) {
    .floated_div { display: none; }
}

